[submodule "riscv-binutils"]
	path = riscv-binutils
	url = https://github.com/riscv-collab/riscv-binutils-gdb.git
	branch = riscv-binutils-2.38
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = https://github.com/riscv-collab/riscv-gcc.git
	branch = riscv-gcc-10.2.0
[submodule "glibc"]
	path = glibc
	url = git://sourceware.org/git/glibc.git
[submodule "riscv-dejagnu"]
	path = riscv-dejagnu
	url = https://github.com/riscv-collab/riscv-dejagnu.git
	branch = riscv-dejagnu-1.6
[submodule "newlib"]
	path = newlib
	url = git://sourceware.org/git/newlib-cygwin.git
	branch = master
[submodule "riscv-gdb"]
	path = riscv-gdb
	url = https://github.com/riscv-collab/riscv-binutils-gdb.git
	branch = fsf-gdb-10.1-with-sim
[submodule "qemu"]
	path = qemu
	url = https://git.qemu.org/git/qemu.git
[submodule "musl"]
	path = musl
	url = git://git.musl-libc.org/musl
	branch = master
