[submodule "riscv-binutils"]
	path = riscv-binutils
	url = ../binutils-gdb.git
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = https://github.com/gcc-mirror/gcc.git
[submodule "riscv-glibc"]
	path = riscv-glibc
	url = https://sourceware.org/git/glibc.git
[submodule "riscv-dejagnu"]
	path = riscv-dejagnu
	url = https://git.savannah.gnu.org/git/dejagnu.git
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = https://github.com/westerndigitalcorporation/newlib.git
[submodule "riscv-gdb"]
	path = riscv-gdb
	url = ../binutils-gdb.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/qemu/qemu.git
[submodule "libexpat"]
	path = libexpat
	url = https://github.com/libexpat/libexpat.git
