Makefile

*.o
*.a
*.so
*.sl
*.dll

config.cache
config.h
config.log
config.status

doc/Makefile
examples/Makefile
shlib/Makefile

examples/fileman
examples/hist_erasedups
examples/hist_purgecmd
examples/histexamp
examples/rl
examples/rl-callbacktest
examples/rlbasic
examples/rlcat
examples/rlevent
examples/rltest
examples/rlversion

libhistory.so.*
libreadline.so.*

*.dylib

readline.pc

stamp-h
