# Copyright 2022 Free Software Foundation, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# This file helps editors auto-configure whitespace settings.
#
# See here for more information about the format and editor support:
#
#   https://editorconfig.org/

root = true

[*]
end_of_line = lf
insert_final_newline = true
tab_width = 8

# Makefile
[{Makefile*,*.mk}]
indent_style = tab
indent_size = 8

# C/C++
[*.{c,h,cc}]
indent_style = tab
indent_size = 2

# Expect / TCL
[*.{exp,tcl}]
indent_style = tab
indent_size = 4

# Python
[*.py]
indent_style = space
indent_size = 4
