# -*- conf -*-

## Set merge driver for ChangeLog files 
# See gnulib's lib/git-merge-changelog.c (or git-merge-changelog(1))
# for per-user setup instructions.
#
# The short version of this (optional) procedure is:
# 
# (1) Install git-merge-changelog (this is the tricky part!)
#
# (2) Add something like the following to your ~/.gitconfig:
#
# [merge "merge-changelog"]
#         name = GNU-style ChangeLog merge driver
#         driver = git-merge-changelog %O %A %B
#
# (3) Enjoy mostly effortless ChangeLog merges, at least until the
#     file gets renamed again ...

ChangeLog       merge=merge-changelog

# Setup whitespace error detection.
#
# (1) Spaces before tabs,
#
# (2) Use of spaces where a tab should be used,
#
# (3) Trailing whitespace,

*.cxx whitespace=space-before-tab,indent-with-non-tab,trailing-space
*.cc whitespace=space-before-tab,indent-with-non-tab,trailing-space
*.cpp whitespace=space-before-tab,indent-with-non-tab,trailing-space
*.[cChH] whitespace=space-before-tab,indent-with-non-tab,trailing-space
*.exp whitespace=space-before-tab,indent-with-non-tab,trailing-space
*.tcl whitespace=space-before-tab,indent-with-non-tab,trailing-space
